.header{
	background-image:linear-gradient(to bottom,$grey-color,$black-color),url(img1.jpg);
	height: 120vh;
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
	
	z-index: 1;
	&__logo-box{
		position: absolute;
		top: 2rem;
		left: 2rem;
	}
	
	&__logo{
		display: inline-block;
		height: 7rem;
		width: 7rem;
	}
	
	&__logo-name{
		 display: inline-block;
		font-size: 3rem;
		margin-bottom: 0rem;
		position: absolute;
		top: 0rem;
		left: 9rem;
	}

	&__text-box{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		line-height: 6rem;
		backface-visibility: hidden;
	}

	&__text-box{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		line-height: 6rem;
		backface-visibility: hidden;
	}

	&__text-primary{
		display: block;
		font-size: 5rem;
		color: $white-color;
		text-shadow:.3rem .3rem $black-color, .2rem .2rem $black-color,.1rem .1rem $black-color;
		transition: all 1s ;
	
		&:hover{
			transform: scale(1.2, 1.2);
			letter-spacing: .3rem;
			
		}
	
	}
	
	&__text-secondary{
		display: block;
		font-size: 2.5rem;
		letter-spacing: .2rem;
		font-weight:bold;
		color: $black-color;
		animation: blinker 4s ease;
		animation-fill-mode: backwards;
		animation-iteration-count: infinite;
	}
}